body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Source Code Pro", monospace;
}

/* section 1 */

.sec1 {
  background-image: linear-gradient(180deg, #000,#191920);
  display: block;
  height: auto;
}
.thatsMeWrapper {
  display: flex;
  justify-content: center;
}

.thatsMe {
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  background: linear-gradient(90deg,#833ab4, #fd1d1d, #fcb045);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
  text-shadow: 1px 1px 50px rgb(251, 255, 7);
}

.thatsMe::before {
  content: '';
  position: absolute;
  width: 15%;
  height: 25%;
  border-left: rgb(226, 166, 0) 5px solid;
  border-top: rgb(226, 166, 0) 5px solid;
  left: 0;
  margin-left: -10px;
  
  
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sec1Wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  place-items: center;
}

.firstPic {
  height: 10rem;
  border: 1px rgb(87, 85, 85) solid;
  border-radius: 20px 0 20px 0;
}

.name {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  color: rgb(34, 255, 5);
  text-shadow: 4px 4px 1px #9a05fd;
  
  text-align: center;
}

.text {
  grid-column: 1/3;
  display: block;
  padding: .5rem;
  margin: auto;
  margin-top: .3rem;
  width:90%;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  background-color: white;
  color: #a8a8a8;
  background-color: #000;
  border: 1px solid orange;
  overflow: hidden;
}



/* sec2 */
.sec2 {
  background-color: rgb(243, 243, 243);
  display: block;
  height: auto;
  padding-bottom: 1rem;
}

.sec2Heading {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  margin: 1rem;
}

.wrapper {
  font-family: "Source Code Pro", monospace;
  width: auto;
  

  margin: 1rem;
  border: 2px solid rgb(1, 86, 126);
  border-radius: 10px 0 10px 0;
  
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5%, auto);
  gap: 1rem;
}

.hvh {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}




/*sec3*/



/* sec3 heading */
.sec3Heading {
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
  margin-left: .5rem;
  color: white;
  text-shadow: 3px 3px rgb(121, 67, 67);
}

/* typing  */ 

.typingWrapper {
  color: white;
  background-color: rgb(7, 130, 146);
  border: 1px solid white;
  border-radius: 10px 0 10px 0;
  display: inline-block;
  text-shadow: 2px 2px #000;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: .5rem;
}

.typingHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5rem;
  margin-top: .3rem;
  
}

.typingPic {
  height: 8rem;
  margin: .5rem;
  
}

.typingText {
  position: relative;
  margin-left: .5rem;
}


/* chess */

.chessWrapper {
  color: white;
  border: 1px solid white;
  border-radius: 0 20px 0 20px;
  display: inline-block;
  background-color: rgb(207, 143, 3);
  text-shadow: 2px 2px #000;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: .5rem;
}

.chessHeader {
  font-size: 1.5rem;
  display: block;
  margin-left: 2rem;
}

.chessPic {
  height: 8rem;
  display: block;
  margin: auto;
}

.chessText {
  font-size: .9rem;
  margin: .2rem;
}

.chessLink {
  text-shadow: none;
  color: #111;
}

/* Esport & Gaming */
.EGWrapper {
  color: white;
  border: 1px solid white;
  box-shadow: 1px 1px black;
  width: 95vw;
  text-shadow: 1px 1px #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(5%, auto);
  gap: 1rem;
  background-color: rgb(43, 40, 40);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1rem;
}

.EGHeader {
  grid-column: 1/4;
  display: flex;
  justify-content: center;
  margin-top: .3rem;
}

.EGText, .EGText2 {
  margin: .2rem;
}

/* sec4 */
.sec4 {
  background: linear-gradient(#4a00e0, #8e2de2);
  height: auto;
}

.sec4Heading {
  font-size: 1.5rem;
  text-align: right;
  padding: 1rem;
}

.sec4Grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(5%, auto);
  gap: .3rem;
}

li {
  list-style-type: none;
}

a:visited {
  color: rgb(253, 209, 10);
}

a {
  color: rgb(253, 209, 10);
  text-decoration: none;
}

/* fav songs */

.hr {
  width: 90%;
}

.songWrapper {
  border: 1px solid black;
  border-radius: 30px;
  background: linear-gradient(rgb(116, 1, 1), #111);
  grid-column: 1/5;
}

.songHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.songHeading2 {
  margin: 1rem;
  color: white;
  font-size: 1.3rem;
}

.spotifyPic {
  height: 3rem;
}

.songList {
  color: white;
  font-size: 1rem;
}

.songButton {
  background-color: rgb(73, 231, 73);
  border-radius: 50px;
  padding: .5rem;
  margin-bottom: .2rem;
  box-shadow: none;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-size: 1.1rem;

}

/* speeches */

.speechWrapper {
  grid-row: 2/3;
  grid-column:3/7;
  border: 1px solid black;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(#141e30,#243b55);
  display: grid;
  grid-template-columns: 80% 10% 10%;
  grid-template-rows: auto;
  
  
}

.speechHeading {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.2rem;
  font-weight: 600;
  
}

.el2 {
  display: flex;
  align-self: center;
}

.speechContent {
  margin-left: -1.5rem;
  font-size: 1rem;
  align-self: center;
}

/* books */

.bookWrapper {
  grid-row: 3/4;
  grid-column: 1/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(5%, auto);
  border: 1px solid black;
  background: linear-gradient(#c23b3e, #f9d423);
  padding-bottom: 1rem;
}

.bookHeading {
  font-size: 1.3rem;
  grid-column: 1/3;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px black;
}

.bookText {
  grid-column: 4/7;
  color: white;
  font-size: 1.1rem;
  text-shadow: 1px 1px rgb(201, 24, 24);
  margin-left: .5rem;
}

.bookEL1, .bookEL2, .bookEL3 {
  text-align: center;
  margin-top: .5rem;
  padding: .5rem;
}

.bookEL1 {
  grid-column: 1/3; 
  background-color: #e8dfce;
  
}

.bookEL2 {
  grid-column: 3/5;
  background-color: #b65149;
  color: white;
}

.bookEL3 {
  grid-column: 5/7;
  background-color: #7e8e65;
}

.bookPic1, .bookPic2, .bookPic3 {
  height: 9rem;
  margin: auto;
}

.bookPic1Wrapper {
  grid-column: 1/3;
  background-color: #e8dfce;
  display: flex;
}

.bookPic2Wrapper {
  grid-column: 3/5;
  background-color: #b65149;
  display: flex;
}

.bookPic3Wrapper {
  grid-column: 5/7;
  background-color: #7e8e65;
  display: flex;
}

/* blog */

.blogWrapper {
  grid-column: 1/3;
  grid-row: 2/3;
  border: 1px solid black;
  color: white;
  background-color: #111;
  opacity: .85;
  
}

.headerBlogContainer {
  position: relative;
  top: 50%;
  transform: translate(0, -100%);
}

.blogLink {
  margin-top: 2rem;
}

/* qoute */

.quoteWrapper {
  grid-column: 5/8;
  text-align: center;
  padding: .2rem;
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: .9rem;
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 30px 0 0 30px;
  border: 1px solid white;
  opacity: .9;
}

/* animations */

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes colorWhite {
  0% {background-color: rgb(0, 0, 0);}
  100% {background-color: #fffdfd;}
}

/* alternative Secs */

.sec1ALT {
  display: none;
}

.sec2ALT {
  display: none;
}

.sec3ALT {
  display: none;
}


.sec4ALT {
  display: none;
}


@media (min-width: 600px) and (max-width: 1150px) {

  /* sec1 */
  .sec1 {
      display: none;
  }

  .sec1ALT{
      background-color: black;
      height: 105vh;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: minmax(5%, auto);  
  }

  .el1Sec1 {
    display: block;
    background-color: #111;
  }

  .thatsMeGrid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
  }

  .thatsMe {
    background: linear-gradient(180deg,#833ab4, #fd1d1d, #fcb045);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: none;
    font-size: 8rem;
    opacity: 0;
    animation: appear 1s  forwards;
  }

  .thatsMe::before {
      display: none;
  }

  .me {
    display: flex;
    align-items: center;
  }

  .sec1Grid2 {
      background-color: #111;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding-top: 4rem;
      animation: colorWhite 1s 1s forwards;
  }

  .name {
    font-family: 'Permanent Marker', cursive;
    color: #000000;
    font-size: 5rem;
    text-shadow: none;
    grid-column: 1/4;
    text-shadow: 2.5px 2.5px grey;
    opacity: 0;
    animation: appear 2s 1s forwards;
  }

  .text {
    display: block;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    color: black;
    background-color: transparent;
    border: none;
    width: auto;
    opacity: 0;
    animation: appear 2s 1.5s forwards;

    grid-row: 2/3;
    grid-column: 1/4;
    
  }

  .graduatedPic {
    display: block;
    margin: auto;
    width: 85%;
    grid-column: 1/4;
    margin-top: -4rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: appear 2s 2s forwards;
  }



  /* section2 */
  .sec2  {
    display: none;
  }

  .sec2ALT {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(5%, auto);
    height: 105vh;
    background-color: #cedef0;
  }

  .el1Sec2 {
    font-family: "Permanent Marker", cursive;
    font-size: clamp(5rem, 10vw, 10rem);
    color: #6b9bd1;
    
  }

  .sec2ALTHeading {
    display: flex;
    justify-content: right;
    position: sticky;
    top: 0;
    margin-left: 1rem;
    text-shadow: 2.5px 2.5px grey;
    
    
  }

  .sec2ALTContent {
   background-color: white;
   list-style-type: none;
  }

  .sec2ALTMainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(5%, auto);
  }

  .sec2Altel1 {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 0 10px 0 10px;
    padding-left: .5rem;
  }

  .hvh2 {
    font-size: clamp(1.5rem, 2vw, 5rem);
    font-weight: 600;
  }

  .hvhContent {
    font-size: clamp(1.2rem, 1vw, 2rem);
  }

  .whatsNextWrapper {
    font-family: "Permanent Marker", cursive;
    font-size: clamp(1.1rem, 1vw, 2rem);
    color: #6b9bd1;
    width: 90%;
    margin:auto;
    margin-top: 3rem;
    
  }

  .whatsNext {
    text-align: center;
    font-size: clamp(2rem, 2vw, 3rem);
  }

  /*sec3*/

  .sec3 {
    display: none;
  }

  .sec3ALT {
    font-family: "Source Code Pro", monospace;
    height: 145vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(5%, auto); 
    background-color: white;
  }

  .el1sec3 {
    background-color: rgb(219, 58, 58);
  }

  .sec3Heading {
    font-family: "Permanent Marker", cursive;
    font-size: clamp(2rem, 5vw, 5rem);
    margin: 2rem;
    position: sticky;
    top: 0;
  }

  .sec3Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(10%, auto);
    
  }

  /* typing */

  .typing2Wrapper {
    grid-column: 1/4;
    grid-row: 1/5;
    border: 1px solid black;
    font-size: clamp(.9rem, 1vw, 1.5rem);
    background-color: rgb(37, 35, 35);
    border-bottom: 5px solid white;
    
  }

  .typing2Header {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-family: "Permanent Marker", cursive;
    display: flex;
    justify-content: center;
    color: rgb(255, 123, 0);
  }

  .typing2Text {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: .5rem;
    color: rgb(185, 179, 179);
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
  }

  /* chess */

  .chess2Header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: "Permanent Marker", cursive;
    grid-column: 4/6;
    grid-row: 1/5;
    border-top: 5px solid white;
    border-left: 5px solid white;
    background-color: #ddc6b6;
  }

  .chess2Content {
    grid-column: 2/6;
    grid-row: 5/7;
    text-align: right;
    background-color: #ddc6b6;
    font-size: clamp(1rem, 2vw, 2rem);
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .chessLink {
    color: rgb(255, 238, 6);
    text-shadow: .5px .5px black;
    font-weight: 600;
  }

  /* eg */

  .eg2Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(2rem, 2vw, 3rem);
    grid-row: 9/10;
    grid-column: 1/6;
    font-family: "Permanent Marker", cursive;
    background-color: #072c50;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
  }

  .eg2Content, .eg2Content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    grid-column: 1/6;
    background-color: #072c50;
    color: white;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
  }

  .eg2Content {
    grid-row: 7/9;
    border-top: 5px solid orange;
  }

  .eg2Content2 {
    grid-row: 10/13;
    border-bottom: 5px solid orange;
  }

  .hashtags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5%, auto);
    grid-column: 1/6;
    grid-row: 13/15;
    font-family: "Permanent Marker", cursive;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin: 1rem;
    
  }
  
  .hashEL1 {
    display: flex;
    justify-content: center;
    color: #050505;
    font-size: clamp(1rem, 1vw, 2rem);
  }
  
  .hashEL2 {
    grid-row: 5/6;
    display: flex;
    align-items: center;
    text-align: center;
    color: #013dc4;
  }
  
  
  
  .hashEL3 {
    grid-column: 2/4;
    grid-row: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9c07b;
  }
  
  .hashEL4 {
    grid-column: 2/4;
    grid-row: 6/7;
    color: #aa96da;
  }
  
  .hashEL5 {
    grid-row: 11/12;
    grid-column: 1/4;
    font-size: clamp(2rem, 2.5vw, 3rem);
    color: #ff1e27;
  }
  
  .hashEL6 {
    grid-row: 13/14;
    grid-column: 1/4;
    display: flex;
    justify-content: right;
    font-size: clamp(2rem, 2.5vw, 3rem);
    color: #4a171e;
  }
  
  .hashEL3, .hashEL2 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
  }

  /* sec4 */
  .sec4 {
    display: none;
  }

  .sec4ALT {
    display: grid;
    height: 120vh;
    grid-template-columns: 1fr 1fr;
    font-family: "Permanent Marker", cursive;
  }

  .el1Sec4 {
    background: linear-gradient(#4a00e0, #8e2de2);
    font-family: "Permanent Marker", cursive;
    font-size: clamp(2rem, 5vw, 5rem);
  }

  .el2Sec4 {
    background: linear-gradient(#0cebeb,#20e3b2, #29ffc6);
  }

  .sec4AltHeading {
    position: sticky;
    top: 0;
    margin: 2rem;
  }

  .sec4ALTGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(5%, auto);
    height: 100vh;
    margin-top: 2rem;
    padding: .2rem;

  }

  .bookWrapper {
    background: linear-gradient(#c23b3e, #fffb29);
    border: none;
    height: 50vh;
  }

  .songWrapper {
    grid-column: 1/6;
  }

  .speechWrapper {
    border-radius: 0px;
  }

  .qouteWrapper {
    display: none;
  }


  /* js stuff */

  .js-scroll {
    opacity: 0;
    transition: 4s all ease;
  }

  .js-scroll.active {
    opacity: 1; 
  }


}

@media screen and (min-width: 1151px) {


  /* javascript */

  .js-scroll {
    opacity: 0;
    transition: all 2.5s ease;
  }

  .js-scroll.active {
    opacity: 1;
  }

  /* section 1 */
.sec1 {
  display: none;
}

.sec1ALT{
  background-color: black;
  height: 105vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(5%, auto);  
}

.el1Sec1 {
display: block;
background-color: #111;
}

.thatsMeGrid {
margin: auto;
display: grid;
grid-template-columns: 1fr 1fr;
max-width: 400px;
}

.thatsMe {
background: linear-gradient(#833ab4, #fd1d1d, #fcb045);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-shadow: none;
font-size: 8rem;
}

.thatsMe::before {
  display: none;
}

.me {
display: flex;
align-items: center;
}

.sec1Grid2 {
  background-color: #fffdfd;
  border: 1px black solid;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 5rem;
}

.name {
font-family: 'Permanent Marker', cursive;
color: #000000;
font-size: 5rem;
text-shadow: none;
grid-column: 1/4;
text-shadow: 2px 2px grey;
}

.text {
display: block;
font-family: 'Permanent Marker', cursive;
font-size: 1.3rem;
color: black;
background-color: transparent;
border: none;
width: auto;

grid-row: 2/3;
grid-column: 1/4;

}

.graduatedPic {
display: block;
margin: auto;
height: 20rem;
grid-column: 1/4;
margin-top: -5rem;
margin-bottom: 1rem;
}

/* section 2 */

.sec2  {
  display: none;
}

.sec2ALT {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5%, auto);
  height: 105vh;
  background-color: #cedef0;
}

.el1Sec2 {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(5rem, 10vw, 10rem);
  color: #6b9bd1;
  border: 1px solid black;
}

.sec2ALTHeading {
  display: flex;
  justify-content: right;
  position: sticky;
  top: 0;
  margin-right: 1rem;
  text-shadow: 2.5px 2.5px grey;
}

.sec2ALTContent {
 background-color: white;
 list-style-type: none;
}

.sec2ALTMainGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(5%, auto);
}

.sec2Altel1 {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid black;
  border-radius: 0 10px 0 10px;
  padding-left: .5rem;
}

.hvh2 {
  font-size: clamp(1.5rem, 2vw, 5rem);
  font-weight: 600;
}

.hvhContent {
  font-size: clamp(1.2rem, 1vw, 2rem);
}

.whatsNextWrapper {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(1.1rem, 1vw, 2rem);
  color: #6b9bd1;
  width: 90%;
  margin:auto;
  margin-top: 3rem;
  
}

.whatsNext {
  text-align: center;
  font-size: clamp(2rem, 2vw, 3rem);
}

/*sec3*/

.sec3 {
  display: none;
}

.sec3ALT {
  font-family: "Source Code Pro", monospace;
  height: 185vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(5%, auto); 
  background-color: white;
}

.el1sec3 {
  background-color: rgb(219, 58, 58);
}

.sec3Heading {
  font-family: "Permanent Marker", cursive;
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 2rem;
  position: sticky;
  top: 0;
}

.sec3Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(10%, auto);
  
}

/* typing */

.typing2Wrapper {
  grid-column: 1/4;
  grid-row: 1/5;
  border: 1px solid black;
  font-size: clamp(.9rem, 1vw, 1.5rem);
  background-color: rgb(37, 35, 35);
  border-bottom: 5px solid white;
  
}

.typing2Header {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-family: "Permanent Marker", cursive;
  display: flex;
  justify-content: center;
  color: rgb(255, 123, 0);
}

.typing2Text {
  font-size: clamp(1rem, 2vw, 2rem);
  padding: .5rem;
  color: rgb(185, 179, 179);
  text-align: center;
  margin-top: 2rem;
}

/* chess */

.chess2Header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 5rem);
  font-family: "Permanent Marker", cursive;
  grid-column: 4/6;
  grid-row: 1/5;
  border-top: 5px solid white;
  border-left: 5px solid white;
  background-color: #ddc6b6;
}

.chess2Content {
  grid-column: 2/6;
  grid-row: 5/7;
  text-align: right;
  background-color: #ddc6b6;
  font-size: clamp(1.5rem, 2vw, 3rem);
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.chessLink {
  color: rgb(255, 238, 6);
  text-shadow: .5px .5px black;
  font-weight: 600;
}

/* eg */

.eg2Heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(3rem, 3vw, 5rem);
  grid-row: 9/10;
  grid-column: 1/6;
  font-family: "Permanent Marker", cursive;
  background-color: #072c50;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

.eg2Content, .eg2Content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  grid-column: 1/6;
  background-color: #072c50;
  color: white;
  border-left: 5px solid orange;
  border-right: 5px solid orange;
}

.eg2Content {
  grid-row: 7/9;
  border-top: 5px solid orange;
}

.eg2Content2 {
  grid-row: 10/13;
  border-bottom: 5px solid orange;
}

.hashtags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(5%, auto);
  grid-column: 1/6;
  grid-row: 13/15;
  font-family: "Permanent Marker", cursive;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  max-width: 800px;
  margin: 1rem;
  
}

.hashEL1 {
  display: flex;
  justify-content: center;
  color: #050505;
}

.hashEL2 {
  grid-row: 5/6;
  display: flex;
  align-items: center;
  text-align: center;
  color: #013dc4;
}



.hashEL3 {
  grid-column: 2/4;
  grid-row: 3/5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9c07b;
}

.hashEL4 {
  grid-column: 2/4;
  grid-row: 6/7;
  color: #aa96da;
}

.hashEL5 {
  grid-row: 11/12;
  grid-column: 1/4;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: #ff1e27;
}

.hashEL6 {
  grid-row: 13/14;
  grid-column: 1/4;
  display: flex;
  justify-content: right;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: #4a171e;
}

.hashEL3, .hashEL2 {
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}

/* sec4 */

.sec4 {
  display: none;
}

.sec4ALT {
  display: grid;
  height: 120vh;
  grid-template-columns: 1fr 1fr;
  font-family: "Permanent Marker", cursive;
}

.el1Sec4 {
  background: linear-gradient(#4a00e0, #8e2de2);
  font-family: "Permanent Marker", cursive;
  font-size: clamp(2rem, 5vw, 5rem);
}

.el2Sec4 {
  background: linear-gradient(#0cebeb,#20e3b2, #29ffc6);
}

.sec4AltHeading {
  position: sticky;
  top: 0;
  margin: 2rem;
}

.sec4ALTGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(5%, auto);
  height: 100vh;
  margin-top: 2rem;
  padding: .2rem;

}
/* books */
.bookWrapper {
  background: linear-gradient(#c23b3e, #fffb29);
  border: none;
  height: 50vh;
}

.bookHeading {
  font-size: clamp(2rem, 3vw, 3rem);
}

.bookText {
  display: flex;
  margin-left: 2rem;
  font-size: clamp(1.4rem, 1.5vw, 2.5rem);
  align-items: center;
}


/* songs */
.songWrapper {
  grid-column: 1/4;
}


.songHeading2 {
  font-size: clamp(1.5rem, 2vw, 3rem);
}


/* speeches */
.speechWrapper {
  border-radius: 0px;
}

.speechContent {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

/* blog */

.blogWrapper {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}


/* qoute */
.qouteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 4/6;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  background-color: #ddbebc;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}



}


