body {
    overflow-y: hidden;
}
#gameWrapper {
    width: 200px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gridline {
    border: 2px solid black;
    position: relative;
    
}

.top {border-top: none;}
.bottom {border-bottom: none;}
.left {border-left: none;}
.right{border-right: none;}

.circle{display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 20px; width: 20px; border: solid 5px black; border-radius: 15px;}


.cross {display:none; position: absolute;top: 50%; left:50%; transform:translate(-50%, -50%); width: 32px;height: 32px;}
.cross:before, .cross:after {position: absolute;left: 15px;content: ' ';height: 33px;width: 2px;background-color: #000;}
.cross:before {transform: rotate(45deg);}
.cross:after {transform: rotate(-45deg);}
  

